body{
    background-color: #fc9a2d;
}
.container{
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    /* background-size: 100%; */
    height: 900px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.container div{
    text-align: center;
}
.container .logo{
    width:766px;
}
.container .textLeft{
    text-align: left;
}
.container .fff{
    color: #fff;
}
.container .text1{
   font-size: 26px;
}
.container .text2{
    font-size: 52px;
 }
 .container .textarea{
    width: 750px;
    margin: 0 auto;
    line-height: 22px;  
 }
 .container .text3{
    font-size: 14px; 
    margin-top: 10px;     
 }
 .container .formarea{
     position: relative;
     height: 210px;
 }
 .container .formarea img{
   cursor: pointer;
}
 .container .formarea .phoneNumber{
    background: #FFFFFF;
    border: 1px solid #E1C76D;
    border-radius: 8px;
    width:254px;
    height:30px;
    font-size: 16px;
    padding-left: 15px;
 }
 .container .formarea .code{
    width:127px;
 }
 .container .formarea .btn{
    background-color: #4DD0E2;
    color: #fff;
    width:121px;

 }
 .container .formarea .operate{
     position: relative;
     top: -160px;
     left: 0;

     display: flex;
     margin: 0 auto;
     justify-content: space-between;
     align-items: center;
     width: 440px;

 }
 .container .formarea .operate .operateFirstDiv p{
     line-height: 48px;
 }
 .container .formarea .codeandBtn{
    display: flex;
    justify-content: space-between;
 }

 .container .codeArea div{
     text-align: left;
 }

/*对话框按钮 居中*/
 .el-message-box__btns{text-align: center}